* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9E9E9E;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.out_header {
  background-color: #d5dbe3;
    height: 100%;
    width: 100%;
    display: flex;
}

/*left part*/
.left_part {
  background-color: #d5dbe3;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container_carrousel {
    background-color: #8C1F28;
    height: 700px;
    width: 800px; 
    display: flex;
}
/*carrousel*/



.container_carrousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_carrousel img {
    width: 80%;
    height: 100%;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
}
  
.arrow-button:hover {
    color: #666;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

/*fin carrousel*/
/*fin left part*/
/*right part*/
.right_part {
    background-color: #d5dbe3;
    height: 100%;
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container_detail {
    background-color: #8C1F28;
    color:#ffffff ;
    height: 700px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_marque {
    background-color: #8C1F28;
    height: 150px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_taille {
    background-color: #8C1F28;
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*barre selection taille*/
.select-container {
    position: relative;
    display: inline-block;
}

select {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: #F2F2F2;
    font-size: 16px;
    color: black;
}

select:focus {
    outline: none;
}

.select-container::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
}

/*fin barre selection taille*/
.container_panier {
    background-color: #8C1F28;
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajouter-au-panier-btn {
    display: inline-block;
    background-color: #8C1F28;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .ajouter-au-panier-btn:hover {
    background-color: black;
  }

.container_description {
    background-color: #8C1F28;
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}

.thumbnail-btn img {
    width: 50px;
    height: auto;
}

/* Style pour la description et le bouton "Voir plus" */
#short-description, #full-description {
    max-width: 700px;
    text-align: justify;
}

#toggle-description {
    background-color: #8C1F28;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

#toggle-description:hover {
    background-color: black;
}

/* Style pour le conteneur des caractéristiques du produit */
.container_caracteristiques {
    text-align: left;
}

/*fin right part*/