* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* début page index */
.background {
  height: 100%;
  width: 100%;
}

.WithOutHeader {
  background-color: #d5dbe3;
  min-height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first_content {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first_content_up {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.first_content_down {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_picker_ctn {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.color_picker_ctn input,
.sexe_picker_ctn input {
  display: none;
}

.color_picker_ctn label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.color_picker_ctn > input:checked + label {
  transform: translateY(-2px);
  border: 1px solid #ffa200;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
}

.color_picker_ctn > input:checked + label:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.5);
}

.blue {
  background-color: #47628a;
}

.red {
  background-color: #ca2220;
}

.grey {
  background-color: #c6cac2;
}

.white {
  background-color: #edece8;
  border: 2px solid #000;
}

.white:hover {
  border: 2px solid #555;
}

.black {
  background-color: #1e1b1e;
  border: 2px solid #fff;
}

.black:hover {
  border: 2px solid #888;
}

.sexe_picker_ctn {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  }
  
  .sexe_picker_ctn label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  border: 2px solid #ffa200;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
  }
  
  .sexe_picker_ctn input:checked + label {
  background-color: #5f0000;
  color: #fff;
  }
  
  .sexe_picker_ctn label:hover {
  background-color: #ffa200;
  color: #fff;
  border-color: #ffa200;
  }

  .price_picker_ctn {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .price_picker_ctn input {
    display: none;
  }
  
  .price_picker_ctn label {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .price_picker_ctn input:checked + label {
    transform: translateY(-2px);
    border: 1px solid #5f0000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .price_picker_ctn input:checked + label:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.5);
  }
  
  .price_picker_ctn .price_button::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-left: none;
    border-bottom: none;
    transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .price_picker_ctn .price_button.up::before {
    transform: rotate(315deg) translate(-3px, 3px);
  }
  
  .price_picker_ctn .price_button.down::before {
    transform: rotate(135deg) translate(-3px, 3px);
  }

/*affichage des données*/
.second_content {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}

/* Affichage des cartes des produits */

.prix_barre {
  text-decoration: line-through;
  color: #ccc;
  margin-right: 10px;
}

.pantalon_item {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  height: 220px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pantalon_image img {
  max-width: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.pantalon_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.pantalon_description h1 {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
}

.pantalon_description p {
  font-size: 0.9rem;
  text-align: left;
  margin: 10px 0;
}

.pantalon_description button {
  background-color: #5f0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pantalon_description button:hover {
  background-color: #ffa200;
  transform: translateY(-3px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pantalon_description h1::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
}

.pantalon_description h1::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.pantalon_description h1::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.pantalon_description h1::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* fin affichage des cartes de produits */