* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* début page index */
.background {
    height: 100%;
    width: 100%;
}

.WithOutHeader {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first_content {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.first_content_up {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.first_content_down {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_picker_ctn {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.color_picker_ctn input, .sexe_picker_ctn input {
  display: none;
}

.color_picker_ctn label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.color_picker_ctn > input:checked + label {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.blue { 
  background-color: #00f; 
}

.red { 
  background-color: #f00;
}

.grey { 
  background-color: #ccc; 
}

.white { 
  background-color: #fff; 
  border: 2px solid #000; /* Ajout de la bordure */
}

.black { 
  background-color: #000; 
  border: 2px solid #fff; /* Ajout de la bordure */
}

/*affichage des données*/
.second_content {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}

/* affichage du panier*/

.cart_ctn {
  background-color: #ada0a0;
  position: absolute;
  top: 0;
  right: -500px;
  width: 500px;
  height: auto;
  max-width: 100vw;
  min-height: 864px;
  z-index: 10;
  margin-top: 75px;
  transition: all 0.5s ease-in-out;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart_icon {
  height: 50px;
  width: 50px;
  z-index: 900;
}

.open_cart {
  right: 0;
}

.cart_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid #ccc;
}

.cart_item img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart_counter {
  display: inline-block;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
  padding: 5px 10px;
}

.cart_counter button {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  width: 30px;
  transition: all 0.3s ease-in-out;
}


.cart_counter button:hover {
  background-color: #ccc;
  color: #fff;
  border-color: #aaa;
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.supr {
  padding: 5px;
}

.cart_description button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.cart_description button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.total_price {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 50%;
  align-self: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.commander {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 50%;
  align-self: center;
  margin-bottom: 20px;
  }
  
  .commander:hover {
  background-color: #3e8e41;
  transform: translateY(-3px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

/* Affichage des cartes des produits */

.prix_barre {
  text-decoration: line-through;
  color: #ccc;
  margin-right: 10px;
}

.pantalon_item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  height: 220px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pantalon_image img {
  max-width: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.pantalon_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.pantalon_description h1 {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
}

.pantalon_description p {
  font-size: 0.9rem;
  text-align: left;
  margin: 10px 0;
}

.pantalon_description button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pantalon_description button:hover {
  background-color: #3e8e41;
  transform: translateY(-3px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pantalon_description h1::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
}

.pantalon_description h1::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.pantalon_description h1::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.pantalon_description h1::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* fin affichage des cartes de produits */